/*Top Header Part*/
.top-left-part {
    background: #0f131f;
}
.logo i {
    color: #ffffff;
}
.navbar-header {
    background: #0f131f;
}
.navbar-top-links > li > a {
    color: #ffffff;
}
/*Right panel*/
.right-sidebar .rpanel-title {
    background: #0162b8;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
    color: #0162b8;
}

.white-box {
    background: #fff;	
}

/*Sidebar*/
.sidebar {
    background: url(../plugins/images/bg-nav.jpg) bottom left no-repeat #141a2b;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.40);
}
.sidebar .label-custom {
    background: #01c0c8;
}
#side-menu li a {
    color: #96a2b4;
}
#side-menu li a {
    color: #96a2b4;
    border-left: 0px solid #1a2339;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
    background: rgba(0, 0, 0, 0.07);
}
#side-menu > li > a.active {
    border-left: 3px solid #0162b8;
    color: #ffffff;
    font-weight: 500;
}
#side-menu > li > a.active i {
    color: #0162b8;
}
#side-menu ul > li > a:hover {
    color: #abd8ff;
}
#side-menu ul > li > a.active {
    color: #ffffff;
    font-weight: 500;
}
.sidebar #side-menu .user-pro .nav-second-level a:hover {
    color: #0162b8;
}
.content-wrapper .sidebar .nav-second-level li {
    background: #444859;
}
@media (min-width: 768px) {
    .content-wrapper #side-menu ul,
    .content-wrapper .sidebar #side-menu > li:hover,
    .content-wrapper .sidebar .nav-second-level > li > a {
        background: #444859;
    }
}
.user-profile .user-pro-body .u-dropdown {
    color: #96a2b4;
}