.border2 {
    height: 100%;
    line-height: normal;
}
.footer2 {
    bottom: 0;
    color: #58666e;
    left: 0px;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    background: #ffffff;
  }