table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 2px solid rgb(0, 4, 73);
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(224, 213, 213, 0.1);
}

thead,
tfoot {
  background-color: rgb(255, 255, 255);
  color: white;
}

thead {
  background-color: #0049b3;
  color: white;
}

thead th {
  padding: 12px 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #ddd;
  color: white;
}

th,
td {
  border: 1px solid rgb(9, 9, 9);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tr {
  border-bottom: 1px solid #0669ff;
}

tr:hover {
  background-color: #0669ff;
}

tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.button {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-width: 500px;
}

textarea {
    resize: none;
}

#count_message {
    background-color: white;
    color: #00549C;
    margin-top: 0px;
    margin-right: 5px;
}